/backend/config/db.config.js
/node_modules
/.idea
/.htaccess
watch.sh
**/core.*[0-9]*
/public/*
!/public/errors
!/public/assets/media
!/public/index.html
!/public/landing.html
!/public/main.js
!/public/tailwind.css
!/public/index.css
!/public/favicon.png